<div class="jumbotron">
  <h1>
    Currencies
  </h1>
  <div class="currencyComponents" *ngFor="let currencyValues of currencyValuesList">
    <currency-pln>
      <p *ngIf="currencyValues.bidValue">
        {{currencyValues.currency}}/PLN
        <b *ngIf="currencyValues.currency == 'BTC'; else normalPrint"
            style="color: #FFFF00">
            {{currencyValues.bidValue | number : '1.2-2'}}
        </b>
        <ng-template #normalPrint>
          <b>
            {{currencyValues.bidValue | number : '1.2-2'}}
          </b>
        </ng-template>
      </p>
    </currency-pln>
    <currency-usd>
      <p *ngIf="currencyValues.bidValueUSD">
        {{currencyValues.currency}}/USD
        <b *ngIf="currencyValues.currency == 'BTC'; else normalPrint"
            style="color: #FFFF00">
            {{currencyValues.bidValueUSD | number : '1.1-1'}}
        </b>
        <ng-template #normalPrint>
          <b>
            {{currencyValues.bidValueUSD | number : '1.1-1'}}
          </b>
        </ng-template>
      </p>
    </currency-usd>
  </div>
</div>
